/* Contenedor del carrusel: RESPONSIVE */
.carousel-inner {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

/* Imágenes responsive */
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Botones */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

/* Ajustes en móviles */
@media (max-width: 576px) {
  .carousel-inner {
    max-width: 100%;
    aspect-ratio: 1.6 / 1; 
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 35px;
    height: 35px;
  }
}
