<section class="bg-dark text-white  text-center p-3">
  <div class="container">
    <p>© 2025 MARCILLA VIVA</p>
    <div class="mt-2">

      <a
        target="_blank"
        href="https://www.facebook.com/marcillaviva/?locale=es_ES"
        class="text-white d-inline-flex align-items-center text-decoration-none">
        <img
          src="https://cdn.pixabay.com/photo/2021/12/10/16/37/facebook-6860914_1280.png"
          alt="YouTube"
          style="width: 35px; height: 35px; margin-right: 6px;">
        <i class="bi bi-youtube fs-4"></i>
      </a>

      <a
        target="_blank"
        href="https://www.instagram.com/marcillaviva/"
        class="text-white d-inline-flex align-items-center text-decoration-none">
        <img
          src="https://cdn-icons-png.flaticon.com/512/5968/5968776.png"
          alt="YouTube"
          style="width: 35px; height: 35px; margin-right: 6px;">
        <i class="bi bi-youtube fs-4"></i>
      </a>


     <a
        target="_blank"
        href="https://www.youtube.com/channel/UCLJW3dpkh6TgckSOhCTyQUg"
        class="text-white d-inline-flex align-items-center text-decoration-none">
        <img
          src="https://images.icon-icons.com/1488/PNG/512/5295-youtube-i_102568.png"
          alt="YouTube"
          style="width: 40px; height: 40px; margin-right: 6px;">
        <i class="bi bi-youtube fs-4"></i>
      </a>

     
    </div>
    <div class="mt-2">
    <a 
      target="_blank" class="text-white me-2">Numero
    </a>
    <a 
      target="_blank" class="text-white me-2">marcilladecamposviva@gmail.com
    </a>
    </div> 
   
  </div>
</section>
