<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']"> Marcilla Viva
      <img src="https://media.geeksforgeeks.org/auth/profile/8ceu3jpotjla4m5wpbm7" alt="Marcilla Viva"
        class="rounded-pill img-fluid" width="40px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nosotros']" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/proyectos']" routerLinkActive="active">Proyectos actuales</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/proyectos-finalizados']" routerLinkActive="active">Proyectos finalizados</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/socio']" routerLinkActive="active">hazte socio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>